# Core PyTorch Libraries
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

# Jupyter Environment
notebook==7.0.0
ipykernel==6.29.5
jupyterlab==4.4.2

# Data Manipulation
numpy==2.2.6
pandas==2.2.3

# Visualization
matplotlib==3.10.3
seaborn==0.13.2

# Utilities
scikit-learn==1.6.1
